.container {
	min-width: 960px;
}
.dropify-wrapper{
	width: 350px;
	height:280px;
} 
.picture{
	width: 30px;
	height: 30px;
	margin-right:5px;
}
/* .image_wrapper{
	width: 350px;
	height: 350px;
} */
.edit{
	width: 100%;
}
.delete{
	width: 100%;
}
.update{
	width: 100%;
}
table.table tbody tr:hover{
	background-color:#DDDDDD;
}
.logout{
	margin-right:2%;
}
.user_name{
	margin-right:1%;
	font-size: 120%;
}
.user_name a{
	color: black;
}
.header_name{
	font-size: 150%;
}