<template>
  <div id="app" class="wrapper">
    <router-view></router-view>
  </div>
</template>

<script>
  export default {
    name: 'App'
  }
</script>

<style>
  @font-face {
    font-family: 'nikumaru';
    src: url(./assets/font/nikumaru.otf);
  }

  #app {
    font-family: nikumaru;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  .wrapper {
    width: 100%
  }
</style>
