<html lang="ja">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/sample.css" type="text/css">
    <title>Sample</title>
</head>
<body>
<h1>SamplePage</h1>
{$sampleMessage}
</body>
</html>