.container {
	min-width: 960px;
}
.dropify-wrapper{
	width: 350px;
	height:280px;
} 
.picture{
	width: 30px;
	height: 30px;
	margin-right:5px;
}
/* .image_wrapper{
	width: 350px;
	height: 350px;
} */
.edit{
	width: 100%;
}
.delete{
	width: 100%;
}
.update{
	width: 100%;
}
table.table tbody tr:hover{
	background-color:#DDDDDD;
}
.logout{
	margin-right:2%;
}
.user_name{
	margin-right:1%;
	font-size: 120%;
}
.user_name a{
	color: black;
}
.header_name{
	font-size: 150%;
}
.trim_bt{
	margin-bottom:10px; 
}
#picture_change{
	width: 100%;
}
#trim1_change{
	width: 100%;
}
#trim2_change{
	width: 100%;
}
#imgedit{
	width: 100%;
}
#imgedit2{
	width: 100%;
}
#trim{
	width: 100%;
}
#trim2{
	width: 100%;
}
#target{
	max-width:730px;
}
#target2{
	max-width:730px;
}