.border {
	padding-bottom: 20px;
    border-bottom: 1px solid #eee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(238, 238, 238);
}
.btn {
	padding:1% 0;
}
