.pt0 { padding-top:     0px !important; }
.pr0 { padding-right:   0px !important; }
.pb0 { padding-bottom:  0px !important; }
.pl0 { padding-left:    0px !important; }

.mt0 { margin-top:      0px !important; }
.mr0 { margin-right:    0px !important; }
.mb0 { margin-bottom:   0px !important; }
.ml0 { margin-left:     0px !important; }

.pt10 { padding-top:    10px !important; }
.pr10 { padding-right:  10px !important; }
.pb10 { padding-bottom: 10px !important; }
.pl10 { padding-left:   10px !important; }

.mt10 { margin-top:     10px !important; }
.mr10 { margin-right:   10px !important; }
.mb10 { margin-bottom:  10px !important; }
.ml10 { margin-left:    10px !important; }

.pt20 { padding-top:    20px !important; }
.pr20 { padding-right:  20px !important; }
.pb20 { padding-bottom: 20px !important; }
.pl20 { padding-left:   20px !important; }

.mt20 { margin-top:     20px !important; }
.mr20 { margin-right:   20px !important; }
.mb20 { margin-bottom:  20px !important; }
.ml20 { margin-left:    20px !important; }

.pt30 { padding-top:    30px !important; }
.pr30 { padding-right:  30px !important; }
.pb30 { padding-bottom: 30px !important; }
.pl30 { padding-left:   30px !important; }

.mt30 { margin-top:     30px !important; }
.mr30 { margin-right:   30px !important; }
.mb30 { margin-bottom:  30px !important; }
.ml30 { margin-left:    30px !important; }

.pt40 { padding-top:    40px !important; }
.pr40 { padding-right:  40px !important; }
.pb40 { padding-bottom: 40px !important; }
.pl40 { padding-left:   40px !important; }

.mt40 { margin-top:     40px !important; }
.mr40 { margin-right:   40px !important; }
.mb40 { margin-bottom:  40px !important; }
.ml40 { margin-left:    40px !important; }

.pt50 { padding-top:    50px !important; }
.pr50 { padding-right:  50px !important; }
.pb50 { padding-bottom: 50px !important; }
.pl50 { padding-left:   50px !important; }

.mt50 { margin-top:     50px !important; }
.mr50 { margin-right:   50px !important; }
.mb50 { margin-bottom:  50px !important; }
.ml50 { margin-left:    50px !important; }

.pt60 { padding-top:    60px !important; }
.pr60 { padding-right:  60px !important; }
.pb60 { padding-bottom: 60px !important; }
.pl60 { padding-left:   60px !important; }

.mt60 { margin-top:     60px !important; }
.mr60 { margin-right:   60px !important; }
.mb60 { margin-bottom:  60px !important; }
.ml60 { margin-left:    60px !important; }

.pt70 { padding-top:    70px !important; }
.pr70 { padding-right:  70px !important; }
.pb70 { padding-bottom: 70px !important; }
.pl70 { padding-left:   70px !important; }

.mt70 { margin-top:     70px !important; }
.mr70 { margin-right:   70px !important; }
.mb70 { margin-bottom:  70px !important; }
.ml70 { margin-left:    70px !important; }
