.container__header {
  font-size: 28px;
  text-align: center;
  color: #FFF;
  background: #244254;
  padding: 15px 0;
  opacity: 0.85;
}

.container__header-inner {
  margin: 0 auto;
  width: 90%;
}
