<template>
  <div class="container">
    <div class="container__header mb20">
      <h1 class="container__header-inner">解説一覧</h1>
    </div>
    <div class="content">
      <div class="explanation mb20">
        <div class="explanation__content">
          <p class="explanation__no"><img src="../assets/images/icon/book_1.svg" alt=""></p>
          <p class="explanation__title">{{explanationTitle1}}</p>
          <p class="explanation__icon">
          <!--correct or incorrect-->
          <!--正解 or 不正解-->
          <img src="../assets/images/icon/correct.svg" alt="">
          <span class="explanation__icon_correct">{{explanationIsCorrect1}}</span>
          </p>
        </div>
        <div class="explanation__comment">
          <p class="explanation__text">{{explanationComment1}}</p>
          <div class="explanation__image">
            <img src="../assets/images/questions/sample1.png">
            <img src="../assets/images/questions/sample1.png">
          </div>
        </div>
      </div>
      <div class="explanation mb20">
        <div class="explanation__content">
          <p class="explanation__no"><img src="../assets/images/icon/book_2.svg" alt=""></p>
          <p class="explanation__title">{{explanationTitle2}}</p>
          <p class="explanation__icon">
            <!--correct or incorrect-->
            <!--正解 or 不正解-->
            <img src="../assets/images/icon/correct.svg" alt="">
            <span class="explanation__icon_correct">{{explanationIsCorrect2}}</span>
          </p>
        </div>
        <div class="explanation__comment">
          <p class="explanation__text">{{explanationComment2}}</p>
          <div class="explanation__image">
            <img src="../assets/images/questions/sample1.png">
            <img src="../assets/images/questions/sample1.png">
          </div>
        </div>
      </div>
      <div class="explanation mb20">
        <div class="explanation__content">
          <p class="explanation__no"><img src="../assets/images/icon/book_3.svg" alt=""></p>
          <p class="explanation__title">{{explanationTitle3}}</p>
          <p class="explanation__icon">
            <!--correct or incorrect-->
            <!--正解 or 不正解-->
            <img src="../assets/images/icon/correct.svg" alt="">
            <span class="explanation__icon_correct">{{explanationIsCorrect3}}</span>
          </p>
        </div>
        <div class="explanation__comment">
          <p class="explanation__text">{{explanationComment3}}</p>
          <div class="explanation__image">
            <img src="../assets/images/questions/sample1.png">
            <img src="../assets/images/questions/sample1.png">
          </div>
        </div>
      </div>
      <div class="explanation mb20">
        <div class="explanation__content">
          <p class="explanation__no"><img src="../assets/images/icon/book_4.svg" alt=""></p>
          <p class="explanation__title">{{explanationTitle4}}</p>
          <p class="explanation__icon">
            <!--correct or incorrect-->
            <!--正解 or 不正解-->
            <img src="../assets/images/icon/correct.svg" alt="">
            <span class="explanation__icon_correct">{{explanationIsCorrect4}}</span>
          </p>
        </div>
        <div class="explanation__comment">
          <p class="explanation__text">{{explanationComment4}}</p>
          <div class="explanation__image">
            <img src="../assets/images/questions/sample1.png">
            <img src="../assets/images/questions/sample1.png">
          </div>
        </div>
      </div>
      <div class="explanation mb20">
        <div class="explanation__content">
          <p class="explanation__no"><img src="../assets/images/icon/book_5.svg" alt=""></p>
          <p class="explanation__title">{{explanationTitle5}}</p>
          <p class="explanation__icon">
            <!--correct or incorrect-->
            <!--正解 or 不正解-->
            <img src="../assets/images/icon/correct.svg" alt="">
            <span class="explanation__icon_correct">{{explanationIsCorrect5}}</span>
          </p>
        </div>
        <div class="explanation__comment">
          <p class="explanation__text">{{explanationComment5}}</p>
          <div class="explanation__image">
            <img src="../assets/images/questions/sample1.png">
            <img src="../assets/images/questions/sample1.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
  import {state, actions} from '../store';
  import $ from 'jquery';
  $(function() {
    //最初は全てのパネルを非表示に
    $('.explanation__comment').hide();
    $('.explanation__content').click(function(e){
        //選択したパネルを開く
        $(this).next().slideToggle(300);
      })
  });


  export default {
    name: 'explanation',
    data() {
      return {
        explanationTitle1: state.questions.results[0].title,
        explanationComment1: state.results.results[0].comment,
        explanationImageUrl1of1: state.results.results[0].imageUrl1,
        explanationImageUrl2of1: state.results.results[0].imageUrl2,
        explanationIsCorrect1: state.results.results[0].isCorrect,
        explanationTitle2: state.questions.results[1].title,
        explanationComment2: state.results.results[1].comment,
        explanationImageUrl1of2: state.results.results[1].imageUrl1,
        explanationImageUrl2of2: state.results.results[1].imageUrl2,
        explanationIsCorrect2: state.results.results[1].isCorrect,
        explanationTitle3: state.questions.results[2].title,
        explanationComment3: state.results.results[2].comment,
        explanationImageUrl1of3: state.results.results[2].imageUrl1,
        explanationImageUrl2of3: state.results.results[2].imageUrl2,
        explanationIsCorrect3: state.results.results[2].isCorrect,
        explanationTitle4: state.questions.results[3].title,
        explanationComment4: state.results.results[3].comment,
        explanationImageUrl1of4: state.results.results[3].imageUrl1,
        explanationImageUrl2of4: state.results.results[3].imageUrl2,
        explanationIsCorrect4: state.results.results[0].isCorrect,
        explanationTitle5: state.questions.results[4].title,
        explanationComment5: state.results.results[4].comment,
        explanationImageUrl1of5: state.results.results[4].imageUrl1,
        explanationImageUrl2of5: state.results.results[4].imageUrl2,
        explanationIsCorrect5: state.results.results[4].isCorrect
      };
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    background: url("../assets/images/background/bear.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
  }
  .container__header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .content {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
  }
  .explanation__content {
    overflow: hidden;
    background: #dfdfdf;
    padding: 10px;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    cursor: pointer;
    border-radius: 5px 5px 0 0;
  }
  .explanation__no {
    width: 20%;
    padding-right: 5%;
    float: left;
    position: relative;
  }
  .explanation__no img {
    width: 35px;
  }
  .explanation__title {
    font-size: 14px;
    width: 70%;
    float: left;
    text-align: left;
  }
  .explanation__icon {
    width: 10%;
    float: left;
    font-size: 10px;
  }
  .explanation__text {
    padding: 15px 0;
  }
  .explanation__comment {
    text-align: left;
    padding: 10px 30px;
    background: #F6F6F6;
    border-radius: 0 0 5px 5px;
  }
  .explanation__image img {
    box-sizing: border-box;
    width: 100%;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
    margin-bottom: 20px;
  }
  .explanation__icon img {
    width: 20px;
  }
  .explanation__icon_correct {
    display: block;
    color: #e75b84;
  }
  .explanation__icon_mistake {
    display: block;
    color: #4e92df;
  }
  @media all and (min-width: 360px) {
    .explanation__no {
      width: 20%;
      padding-right: 2%;
    }
    .explanation__icon {
      width: 15%;
    }
  }

  @media all and (min-width: 768px) {
    .explanation__no {
      width: 10%;
      padding-right: 2%;
    }
    .explanation__icon {
      width: 10%;
    }
  }
</style>
