<template>
  <div class="container">
    <div class="container__header mb20">
      <h1 class="container__header-inner">難易度を選んでね</h1>
    </div>
    <div class="content">
      <ul class="levelList">
        <li class="levelList__level pb30">
          <a v-on:click="pushLevel(beginner)">
            <img src="../assets/images/btn/tobe_beginner_level.svg" class="levelList__btn">
          </a>
        </li>
        <li class="levelList__level pb50">
          <a v-on:click="pushLevel(tobemaster)">
            <img src="../assets/images/btn/tobe_master_level.svg" class="levelList__btn">
          </a>
        </li>
        <li class="levelList__back">
          <a href="/">
            <img src="../assets/images/btn/areas_selection.svg" class="levelList__btn">
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import {state, actions} from '../store';

  export default {
    name: 'level-selection',
    data() {
      return {
        beginner: 'とべ初心者',
        tobemaster: 'とべマスター',
      };
    },
    methods: {
      pushLevel: function(label) {
        async function a() {
          actions.pushLevel(label);
          actions.setQuestions(await actions.getQuestions);
          await actions.pickQuestion();
        }

        a().then(() => {
          this.$router.push({name: 'question'});
        });
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    background: url("../assets/images/background/bear.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
  }
  .levelList li {
    margin: 0 auto;
  }
  .levelList a {
    display: block;
    overflow: hidden;
  }
  .levelList img {
    width: 70%;
  }

  @media all and (min-width: 360px) {
    .levelList img {
      width: 80%;
    }
  }

  @media all and (min-width: 768px) {
    .levelList img {
      width: 297px;
    }
  }

</style>
