<template>
  <div class="container">
    <div class="container__header">
      {{questionId}}
      <h1 class="container__header-inner">{{title}}</h1>
    </div>
    <div class="content">
      <p class="question__image_top">
        <!--<img v-bind:src="imageUrl1" alt="" class="image__top">-->
        <img src="../assets/images/questions/sample1.png" alt="" class="image__top">
      </p>
      <ul class="answerList pt10 pb10">
        <li class="answerList__item">
          <a v-on:click="pushAnswers('no')" class="answeList__btn_yes">
            <img src="../assets/images/btn/no.svg" alt="">
          </a>
        </li>
        <li class="answerList__item">
          <a v-on:click="pushAnswers('yes')" class="answeList__btn_no">
            <img src="../assets/images/btn/yes.svg" alt="">
          </a>
        </li>
      </ul>
      <p class="question__image_bottom">
        <!--<img v-bind:src="imageUrl2" alt="" class="image__top">-->
        <img src="../assets/images/questions/sample2.jpg" alt="" class="image__top">
      </p>
    </div>
  </div>
</template>

<script>
  import {state, actions} from '../store';

  export default {
    name: 'question',
    data() {
      return {
        questionId: state.question.questionId,
        title: state.question.title,
        imageUrl1: state.question.imageUrl1,
        imageUrl2: state.question.imageUrl2,
        isYes: state.question.isYes
      };
    },
    methods: {
      pushAnswers: function(isYes) {
        async function ans() {
          await actions.setAnswers(state.question.questionId, isYes);
          await actions.nextquestionStackId();
          await actions.pickQuestion();
        }

        ans().then(() => {
          if (typeof state.question === 'undefined') {
            async function rst() {
              await actions.setResults(await actions.getResults);
            }

            rst().then(() => {
              this.$router.push({name: 'result'});
            });
          } else {
            this.$router.push({
              path: `/question${state.question.questionId}`,
              params: {id: state.question.questionId},
            });
            this.$nextTick(() => {
              this.questionId = state.question.questionId;
              this.title = state.question.title;
              this.imageUrl1 = state.question.imageUrl1;
              this.imageUrl2 = state.question.imageUrl2;
              this.isYes = state.question.isYes;
            });
          }
        });
      },
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    background: url("../assets/images/background/bear.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
  }
  .container__header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .content {
    width: 90%;
    margin: 0 auto;
  }
  .question__image_top img,
  .question__image_bottom img {
    width: 70%;
    clear: left;
    padding: 3px;
    border: 1px solid #ccc;
    background: #fff;
  }
  .answerList {
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
  }
  .answerList__item img {
    width: 95px;
  }
  .answeList__btn_yes {
    float: left;
  }
  .answeList__btn_no {
    float: right;
  }

  @media all and (min-width: 360px) {
    .container__header {
      margin-bottom: 20px;
    }
    .question__image_top img,
    .question__image_bottom img,
    .answerList {
      width: 90%;
    }
    .answerList__item img {
      width: 120px;
    }
  }

  @media all and (min-width: 768px) {
    .container__header {
      margin-bottom: 30px;
    }
    .question__image_top img,
    .question__image_bottom img,
    .answerList {
      width: 75%;
    }
    .answerList__item img {
      width: 200px;
    }
  }
</style>
