<template>
  <div class="container">
    <div class="container__header mb20">
      <h1 class="container__header-inner">結果</h1>
    </div>
    <div class="content">
      <div class="result">
        <p class="result__level">
          {{resultLevel}}級
        </p>
        <p class="result__point">
          {{resultPoint}}問中<span>{{resultPoints}}</span>問正解！
        </p>
        <p class="result__message">
          きみは<br><span class="result__rank">{{resultRank}}</span>でした！
        </p>
      </div>
      <div class="action pb10 pt20">
        <p class="action__reward mb20">
          <a href="">報酬をもらう</a>
        </p>
        <p class="action__explanation mb20">
          <a v-on:click="goExplanation()">解説</a>
        </p>
        <p class="action__back mb20">
          <a href="">もう一度挑戦する（解説か報酬が出てる時はださない）</a>
        </p>
      </div>
      <div class="share">
        <p class="share__twitter">
          <a href=""><img src="../assets/images/btn/twitter.png" alt=""></a>
        </p>
        <p class="share_fb">
          <a href=""><img src="../assets/images/btn/fb.png" alt=""></a>
        </p>
        <p class="share_msg">
          <img class="pl10" src="../assets/images/icon/share_request_msg.svg" alt="">
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  import {state, actions} from '../store';

  export default {
    name: 'result',
    data() {
      return {
        resultLevel: state.results.level,
        resultPoint: '５',
        resultPoints: state.results.correctCount,
        resultRank: state.results.rank,
        resultAnswer: '回答・解説'
      };
    },
    methods: {
      goExplanation: function() {
        this.$router.push({name: 'explanation'});
      }
    },
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    background: url("../assets/images/background/bear.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
  }
  .container__header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .content {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    background: rgba(255, 255, 255, 0.75);
    border-radius: 10px;
  }
  .result__level,
  .result__point,
  .result__message .result__rank {
    font-size: 24px;
    padding-bottom: 20px;
  }
  .result__point span {
    color: #e01329;
  }
  .result__rank {
    color: #4e92df;
  }
  .action__reward a,
  .action__explanation a,
  .action__back a {
    display: block;
    padding: 20px;
    color: #fff;
    text-decoration: none;
  }
  .action__reward {
    background: #e75b84;
  }
  .action__explanation {
    background: #4e92df;
  }
  .action__back {
    background: #e01329;
  }
  .share__twitter img {
    padding-right: 10px;
  }
  .share__twitter img,
  .share_fb img {
    width: 45px;
    float: left;
  }
  .share_msg img {
    width: 110px;
    float: left;
  }

  @media all and (min-width: 360px) {
    .share__twitter img {
      padding-right: 20px;
    }
  }
</style>
