<template>
  <div class="container">
    <div class="container__header mb20">
      <h1 class="container__header-inner">
        報酬
      </h1>
    </div>
    <div class="content">
      <div class="reward">
        <p class="reward__msg_top pb20">おめでとうございます！<br>バッジをゲットしました！</p>
        <p class="reward__image pb20"><img src="../assets/images/icon/batch.svg" alt=""></p>
        <p class="reward__msg_bottom pb20">入り口の事務所で<br>受取ることが出来ます。</p>
        <p class="action__reward mb20">
          <a href="">報酬を受取る</a>
        </p>
        <p class="action__back mb20">
          <a href="">もう一度挑戦する</a>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'result',
    data() {
      return {
        resultHeader: '結果',
        resultLevel: 'とべ初心者',
        resultPoint: '５',
        resultPoints: '５',
        resultRank: '飼育員',
        resultAnswer: '回答・解説'
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .container {
    background: url("../assets/images/background/bear.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
  }
  .container__header {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .content {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    background: rgba(255,255,255,0.75);
    border-radius: 10px;
  }
  .reward__msg_top {
    font-size: 18px;
    color: #693208;
  }
  .reward__msg_bottom {
    font-size: 18px;
  }
  .reward__image img {
    width: 120px;
    margin: 0 auto;
  }
  .action__reward a,
  .action__back a {
    display: block;
    padding: 20px;
    color: #FFF;
    text-decoration: none;
  }
  .action__reward {
    background: #4E92DF;
  }
  .action__back {
    background: #E01329;
  }

  @media all and (min-width: 768px) {
    .reward__msg_top {
      font-size: 24px;
      color: #693208;
    }
    .reward__msg_bottom {
      font-size: 20px;
    }
  }
</style>
