<template>
  <div class="tobe-app wrapper">
    <div class="container">
      <ul class="test" style="display: block">
        <li>
          <a href="/">TobeApp</a>
        </li>
        <li>
          <router-link to="level-selection">難易度</router-link>
        </li>
        <li>
          <router-link to="question">問題</router-link>
        </li>
        <li>
          <router-link to="result">結果</router-link>
        </li>
        <li>
          <router-link to="explanation">解説</router-link>
        </li>
        <li>
          <router-link to="reward">報酬</router-link>
        </li>
      </ul>
      <h1 class="logow"><img class="logo" src="../assets/images/logo.svg" alt=""></h1>
      <div class="content">
        <router-link to="level-selection" class="startBtn">
          はじめる
        </router-link>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'tobeapp',
    data() {
      return {};
    }
  };
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .areaList__btn a, .levelList__btn a, .answerList__btn a {
    border: 1px solid black;
    padding: 30px 0;
    display: block;
  }
  .wrapper {
    background: url("../assets/images/background/top.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
  }
  .logow {
    margin: 50% 0 auto;
    position: relative;
  }
  .logo {
    width: 85%;
  }
  .content {
    margin: 30% 0 auto;
  }
  .startBtn {
    color: HSLA(350, 67%, 65%, 1.00);
    font-size: 62px;
    text-decoration: none;
    text-shadow: 2px 2px 10px #fff,
                 -2px 2px 10px #fff,
                 2px -2px 10px #fff,
                 -2px -2px 10px #fff;
  }
  .container {
    margin: 0 auto;
  }
</style>
