/* const */

.btn {
  border: 1px solid black;
  padding: 30px 0;
  display: block;
}

/* all */
.wrapper {
  width: 100%;
}

.container {
  width: 750px;
  margin: 0 auto;
  &__header {
    font-size: 24px;
    text-align: center;
    padding: 10px 0;
  }
}

/* index.html */

.startBtn {
    margin: 0 auto;
    text-align: center;
}

/* area.html */
.areaList {
  overflow: hidden;
  &__item {
    float: left;
    width: 50%;
  }
  &__btn {
    a {
      @extend .btn
    }
  }
}

/* level.html */
.levelList {
  &__item {
  }
  &__btn {
    a {
      @extend .btn
    }
  }
}

/* question */
.answerList {
  &__item {
  }
  &__btn {
    a {
      @extend .btn
    }
  }
}

/* result */
.result {
  text-align: center;
  padding: 10px 0;
}

.share {
  text-align: center;
  padding: 10px 0;
}

.backBtn {
  text-align: center;
  padding: 10px 0;
}