.btn,.areaList__btn a,.levelList__btn a,.answerList__btn a{border:1px solid black;padding:30px 0;display:block}.wrapper{width:100%}.container{width:750px;margin:0 auto}.container__header{font-size:24px;text-align:center;padding:10px 0}.startBtn{margin:0 auto;text-align:center}.areaList{overflow:hidden}.areaList__item{float:left;width:50%}.result{text-align:center;padding:10px 0}.share{text-align:center;padding:10px 0}.backBtn{text-align:center;padding:10px 0}
/*# sourceMappingURL=style.css.map */
