.container {
	min-width: 960px;
}
.dropify-wrapper{
	width: 350px;
	height: 350px;
} 
.picture{
	width: 30px;
	height: 30px;
	margin-right:5px;
}
/* .image_wrapper{
	width: 350px;
	height: 350px;
} */
.image_edit{
	opacity: 0.5;
}
.picture_image {
	position: absolute;
	z-index: 0;
	/* width:80%; */
	margin:20%;
	width: 50%;
	height: 50%; 
}
